@media(max-width:1140px){
    .section-1{
        flex-direction: column;
    }
    .sec1-img{
        max-width: 1140px;
        width: 100%;
    }
    .sect2-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec2-post{
        margin-top: 20px;
    }
    .sec-title-div{
        max-width: 400px;
    }
    .sec3-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page2-sec1-div{
        display: flex;
        flex-direction: column;
    }
    .img-div2{
        max-width: 1140px;
        width: 100%
    }
    .form-div{
        margin: 0 auto;
    }
}
@media(max-width:840px){
    .news-block{
        display: flex;
    }
    .sect2-div{
        flex-direction: row;
    }
    .sec2-post:nth-child(3){
        display: none;
    }
    .sec2-post{
        margin: 10px;
    }
    .page2-sec2{
        flex-direction: column;
    }
    .footer-div{
        flex-direction: column;
    }
}

@media(max-width:840px){
    .sec3-right-div{
        display: flex;
        flex-direction: row;
    }
    .sec3-post:nth-child(3){
        display: none;
    }
    .sec3-post{
        padding: 10px;
    }
    .sec3-img{
        height: 300px;
        object-fit: cover;
     }
}
@media(max-width:375px){
    .news-block {
        flex-direction: column;
    }
    .sec3-right-div{
        flex-direction: column;
    }
    .user-info-div{
        flex-direction: column;
    }
    .page2-sec2-post{
        flex-direction: column;
    }
    .footer-bar{
        display: none;
    }
    .sect2-div{
        flex-direction: column;
    }
}

/* menu bar */
@media(max-width:550px){
    .menu-bar{
        display: block;
    }
    .nav-bar{
        display: none;
        max-width: 550px;
        width: 100%;
        background-color: #F6F8F9;
    }
    .nav-bar.activeNav{
        display: block;
    }
    .header-bar{
        flex-direction: column;
    }
    .li{
        margin-top: 20px;
    }
    .footer-menu{
        background-color: #A6ADB4;
        color: #e3e4e5;
        line-height: 30px;
        font-size: 11px;
    }
    .footer-menu-div{
        display: flex;
        padding: 20px;
    }
    .footer-menu-icons{
        max-width: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        padding: 10px;
    }
    .nav-icon,
    .nav-contact,
    .footer-menu{
       display: block; 
    }
    .nav-icon{
        margin-right: 20px;
    }
    .ul-bar{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
        margin-top: 40px;
    }
    .nav-bar {
        max-width: 250px;
        justify-content: flex-start;
    }
    .header-bar{
        align-items: flex-start;
        padding: 0px;
    }
    .nav-a{
        display: flex;
    }
    .numbers{
        display: block;
        max-width: 230px;
        width: 100%;
        margin: 20px auto;
    }
    .menu-item.menuTwo{
        display: none;
    }
    .menu-item.menuOne{
        transform: rotate(-45deg) translate(-7px,3px);
        transition: 0.3s linear;
    }
    .menu-item.menuThree{
        transform: rotate(45deg) translate(-3px,1px);
        transition: 0.3s linear;

    }
}