body{
    background-color: #F6F8F9;
    font-family: 'Roboto';
}
.header-bar{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 900;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #F6F8F9;
}
.nav-a{
    color: #707070;
}
.logo-text{
    color: #FA6980;
    font-size: 13px;
}
.active{
    color:#343638;
}
.ul-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.nav-bar{
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}
.img-div{
    height: 500px;
    position: relative;
}
.sec1-img{
    max-width: 700px;
    width: 100%;
    height: 500px;
}
.img-text{
    max-width:500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    line-height: 25px;
    font-size: 16px;
}
.title{
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px;
}
.line{
    background-color: white;
    border:1px solid white;
    margin:30px 0px 40px 0px;
}
.button{
    margin-top: 20px;
    background-color: #FA6980;
    border:none;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}
.section-1{
    max-width: 1400px;
    width: 100%;
    margin: 60px auto;
    display: flex;
}
.text-div{
    padding: 50px;
    line-height: 20px;
    font-size: 16px;
    background-color: white;
}
.sec1-title{
    color: #FA6980;
    font-weight: 600;
    margin:30px 0px;
    font-size: 16px;
}
.sec1-title1{
    font-weight: 700;
    font-size: 16px;
}
.sec1-div1{
    display: flex;
    justify-content: space-between;
    /* margin-top: 15px;
    padding: 20px; */
}
.arrow-div{
    max-width: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #707070;
    align-items: center;
}
.time{
    display: flex;
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

/* section 2 */

.sec2-title{
    font-size: 24px;
    font-weight: 900;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.sec2-post{
    max-width: 360px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
}
.post-img{
    width: 100%;
}
.sec2-text{
    padding: 20px;
    line-height: 20px;
}
.sec1-title1{
    margin:10px 0px ;
}
.sect2-div{
    max-width:1200px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.sec-title-div{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

/* section 3 */

.sec3-img-div{
    max-width: 750px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.sec3-title{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-weight: 800;
}
.sec3-img{
    max-width: 750px;
    width: 100%;
}
.sec3-text-div{
    color: white;
    position: absolute;
    bottom:40px;
    left: 20px;
}
.sec3-time{
    display: flex;
    max-width: 180px;
    width: 100%;
    justify-content: space-between;
    color: #707070;
}
.underline{
   text-decoration: underline;
}
.sec3-post{
    max-width: 360px;
    width: 100%;
    border-radius: 15px;
}
.sec3-text{
    padding: 20px;
}
.sec3-div{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
.sec3-right-img{
    width: 100%;
}

/* page 2 */
.line2{
    max-width: 50px;
    border: 1.5px solid #FA6980;
    width: 100%;
    border-radius: 2px;
}
.img-text2{
    text-align: center;
    max-width:500px;
    width: 100%;
    position: absolute;
    top: 36%;
    left: 44%;
    transform: translate(-50%,-50%);
    color: white;
    line-height: 25px;
    font-size: 16px;
}
.img-div2{
    background-image: url("../img/page2-img1.png");
    max-width: 550px;
    height: 480px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 5px;
}
.user2{
    border: 1.5px solid white;
    border-radius: 50%;
    margin-top: 50px;
}
select,
input{
    margin: 0 auto;
    color: #A6ADB4;
    max-width: 350px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: 2 px solid #A6ADB4;
    margin: 20px 0px
}
.form-div{
    max-width: 550px;
    width: 100%;
    font-weight: 700;
    padding: 80px;
    margin-top: 5px;
}
.page2-sec1-div{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: white;
}
.home-div{
    display: flex;
    max-width: 200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.icon-div{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* page 2 section 2 */
.user-info-div{
    display: flex;
    max-width: 1100px;
    width: 100%;
    /* justify-content: space-between; */
    margin: 0 auto;
    margin-top: 40px;
    border-top: #dadcdc solid;
    border-bottom: #dadcdc solid;
 }
.user-div{
    max-width: 250px;
    width: 100%;
    margin: 30px 0px;
    font-weight: 800; 
    line-height: 30px;
}
.user-text-div{
    max-width: 320px;
    width: 100%;
    margin: 30px 0px;
    color: #A6ADB4;
    font-size: 14px;
    line-height: 20px;
}
.info-time{
    display: flex;
    max-width: 80px;
    width: 100%;
    justify-content: space-between;
    color: #A6ADB4;
    margin-top: 10px;
}
.page2-sec2-post{
    display: flex;
    justify-content: space-between;
}
/* page 2 section 3 */
.page2-text{
    max-width: 720px;
    width: 100%;
    color: #A6ADB4;
    font-size: 14px;
}
.page2-text1{
    margin: 20px 0px;
    line-height: 25px;
}
.page2-img2{
    max-width: 1160px;
    width: 100%;
    margin-top: 30px;
}
.page2-div{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    border-bottom: #dadcdc solid;
    margin-bottom: 160px;
}

/* footer */
.footer-text{
    max-width: 378px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #CBD0D3;
    line-height: 25px;
    font-size: 13px;
    font-weight: 800;
}
.footer-bar{
    background-color: #A6ADB4;
}
.footer-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px 60px 0px;
}
.footer-ul2{
    margin-left: 15px;
    margin-right: 15px;
}
.email{
    max-width: 260px;
    width: 100%;
    border: 2px solid #bbc0c6;
    border-radius: 4px;
    font-size: 16px;
    background-color: #A6ADB4;
    padding: 12px 20px 12px 10px;
    color:#CBD0D3 
}
.email-input{
    position: relative;
} 
.send-icon{
    position: absolute;
    top: 30px;
    right: 10px;
}
.input-email{
    color:#CBD0D3 ;
    font-size: 11px;
}
.footer-icons-div{
    padding-top: 20px;
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #cfd2d6
}
.footer-ul1{
    margin-left: 50px;
}

/* page3 server page*/
.server-section{
    height: 500px;
}

/* burger */
.menu-item{
    width: 30px;
    height: 4px;
    background-color: #343638;
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.5s;
}
.menu-bar{
    display: none;
    position: absolute;
    top:20px;
    left:10px;  
}
.nav-icon,
.nav-contact,
.footer-menu{
    display: none;
}

/* server */
#user_ul{
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.button-div{
    display: flex;
    justify-content: center;
}
.button-1{
    margin-left: 5%;
    border: none;
    background-color: #FA6980;
    color: #FFFFFF;
    height: 30px;
    border-radius: 10px;
}
#prev{
    border: none;
    background-color: #FA6980;
    color: #FFFFFF;
    border-radius:10px;
}
.p-text{
    margin-bottom: 5%;
    color: rgb(190, 36, 36);
    font-weight: 700;
    font-size: large;
    display: flex;
    justify-content: center;
}
.user-img{
    max-width: 150px;
    width: 100%;
    height: 140px;
}
button:hover {
    background-color: #A6ADB4;
  }
#prev:hover {
    background-color: #A6ADB4;
  }

.p-Email{
    color: #FFFFFF;
}
.user_div{
    margin-top: 50px;
}
